<%# extends feed %>
<li id="<%= feed_item.id %>">
  <%= link_to gravatar_for(feed_item.user, size: 40), feed_item.user %>
    <span class="user">
      <%= link_to feed_item.user.name, feed_item.user %>
    </span>
    <%= render 'microposts/micropost_item', object: feed_item %>
</li>